/* udacity nanodegree - mockup to website project - project 1*/
* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
}

body {
   font-family: 'Lato', sans-serif;
/*   color: #747704;*/
   color: #000;
   font-weight: 300;
/*   padding-bottom: 50px;*/
/*   padding-top: 20px;*/
}

hr {
   border: 2px solid #d0c4ab;
}

.blue-container {
/*   margin: 2px;*/
   text-align: center;
   background: #131a2d;
   color: #d0c4ab;
}

.padding-15 {
   padding: 15px;
}

.padding-30 {
   padding: 30px;
}

.text-muted {
   color: #bcbbbb;
}

.text-bold {
   font-family: 'Lato', sans-serif;
   font-weight: 900;
   color: #131a2d;
}

.title-super {
   font-size: 50px;
}

.title-logo {
   margin-top: 20px;
}

.footer {
/*   margin-left: 2px;
   margin-right:2px;
*/   
   background: #bcbbbb;
/*   padding: 50px;*/
/*   margin: 10px 0 0 0;*/
   text-align: center;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

/* media queries */
@media (min-width: @screen-sm-min) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
}