/* my own style */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
    padding-bottom: 50px;
    padding-top: 20px;
}

hr {
    border: 2px solid #d0c4ab;
}

.short-empty-row {
    height: 10px;
}

.black-container {
    margin: 2px;
    background: #131a2d;
    color: #d0c4ab;
}

.abitofpadding {
    padding: 15px;
}

.alotofpadding {
    padding: 30px;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 100;
}

.text-bold {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #131a2d;
}

.title-super {
	font-size: 50px;

}

.title-logo {
	margin-top: 20px;

}

#footer {
    margin-left: 2px;
    margin-right:2px;
    background: #bcbbbb;
    padding: 50px;
    margin-top: 10px;
    text-align: center;
}